.header {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 0;
  /* margin-left: 10%; */
}
#burger-menu {
  display: none;
}
nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin: 0 5% 0 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin: 0 5%;
}

.logo {
  width: 100px;
}

.search {
  width: 250px;
  height: 30px;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 40px;
  border-color: black;
  margin-left: 30px;
}

.inp-search {
  height: 13px;
  border: none;
  background-color: transparent;
}

.inp-search:focus {
  outline: none !important;
}

.users_name {
  margin-left: 30px;
  display: flex;
  width: 80px;
}

.lupa {
  width: 20px;
}

.about-us-header {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Rubik";
}

.about-us-header h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  text-align: center;
}

.about-us-text {
  width: 70%;
  float: left;
  padding-right: 30px;
  box-sizing: border-box;
  margin-left: 17%;
}

.about-us-text h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.about-us-text p {
  font-size: 1rem;
  color: black;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-us-text ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.about-us-text li {
  font-size: 1rem;
  color: black;
  line-height: 1.5;
  margin-bottom: 10;
}

.img_about_us {
  width: 100%;
  height: 600px;
}

.aboutUs_h3 {
  text-align: center;
  margin: 50px;
}

.contacts_wrapper {
  display: flex;
  justify-content: space-around;
}

.contact_logos {
  width: 50px;
  height: 50px;
}

.contacts_block {
  width: 30%;
  margin-left: 7%;
}

.alltext {
  display: flex;
  flex-direction: "row";
}
