.contacts_button {
  background-color: orange;
  border-radius: 5px;
  border: none;
  color: antiquewhite;
  width: 100px;
  height: 30px;
}

@media all and (max-width: 769px) {
  .contacts-h3 {
    font-size: medium;
  }
  .contacts_us {
    font-size: 30px !important;
  }
}

@media all and (max-width: 426px) {
  .contacts-h3 {
    font-size: small;
  }
  .contacts_us {
    font-size: 25px !important;
  }
  p {
    font-size: small;
    text-align: left;
  }
}

@media all and (max-width: 376px) {
  .contacts_button {
    width: 80px;
  }
}

@media all and (max-width: 321px) {
  .contacts_button {
    width: 70px;
    font-size: small !important;
  }
  p {
    font-size: x-small;
    text-align: left;
  }
  .contacts-h3 {
    font-size: x-small;
  }
}
